<p>The Logic Colloquium 2026 is the annual European summer meeting of the Association of Symbolic Logic (ASL) 
    that will be held in conjunction with the British Logic Colloquium 2026, in Swansea on 29 June - 3 July 2026.
</p>
<p>
    The conference is hosted by the Logicians in the <a href="https://www.swansea.ac.uk/compsci/research-and-impact/theoretical-computer-science/" target="_blank">Theoretical Computer Science</a> group at Swansea and the newly founded Robert Recorde Centre of Fundamental Research.
    Robert Recorde was a Welsh Mathematician and Philosopher who invented the = sign.
</p>
