---
layout: home
permalink: /
title: Home
published: true
---
<div class="kedit keditFullHeight" style="background:var(--color2_25)">
  <div class="container">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="d-flex flex-column justify-content-start h-100">
          <h1 class="display-3 mb-1">Logic Colloquium 2026</h1>
          <h2>In conjunction with the <br/>British Logic Colloquium 2026</h2>
          <h3 class="fw-normal">29 June - 3 July 2026<br>
          Swansea University, Wales, UK</h3>
          <div class="koSeparator" style="background: var(--color1); width: 405px; height: 10px; margin: 15px 0;"></div>

          <div id="description-wrapper">
            {% include homepage/description.html %}
          </div>

          <div id="dates-wrapper">
            {% include dates.html %}
          </div>
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 d-flex align-items-start">
        <img src="assets/swansea-img-banner5.png" class="w-auto" alt="Swansea banner">
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-5 mt-5" data-aos="fade-up">
     <h3 id="programme-highlights">Programme Highlights</h3>
        <div class="koSeparator koSeparatorBlock koSeparatorLeft"
        style="background:var(--color1); width: 100px; height: 5px; margin-top: 30px; margin-bottom: 30px;">
      </div>
      <div>
        {% include plenary.html %}
        <!-- {% include goedel.html %} -->
        {% include tutorials.html %}
      </div>
    </div>
    {% include cfa.html %}
    <div class="col-6 mt-5 offset-1">
      {% include special.html %}
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <h3>Sponsors</h3>
      <div class="col-lg-12 col-sm-12">
        <div class="row align-items-center" style="text-align: center;">
          <div class="col-3 col-sm-3 col-md-3" data-aos="fade-up">
            <a href="https://www.swansea.ac.uk/" target="_blank"><img src="assets/swansea-uni.png" class="resize-sponsors" /></a>
          </div>
          <div class="col-3 col-sm-3 col-md-3" data-aos="fade-up">
            <a href="https://aslonline.org/" target="_blank"><img src="assets/asl-logo.png" class="resize-sponsors" /></a>
          </div>
          <div class="col-3 col-sm-3 col-md-3" data-aos="fade-up">
            <a href="https://www.blc-logic.org/" target="_blank"><img src="assets/blc-logo.png" class="resize-sponsors" /></a>
          </div>
          <div class="col-3 col-sm-3 col-md-3" data-aos="fade-up">
            <a href="https://www.swansea.ac.uk/science-and-engineering/research/zienkiewicz-institute-for-modelling-data-ai/" target="_blank"><img src="assets/zienkiewicz-institute.png" class="resize-sponsors" /></a>
          </div>
        </div>
      </div>

  </div>

</div>
