---
layout: home
permalink: /
title: Home
published: true
---
<div class="kedit keditFullHeight" style="background:var(--color2_25)">
  <div class="container">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="d-flex flex-column justify-content-start h-100">
          <h1 class="display-3 mb-1">Logic Colloquium 2026</h1>
          <h2>In conjunction with the <br/>British Logic Colloquium 2026</h2>
          <h3 class="fw-normal">29 June - 3 July 2026<br>
          Swansea University, Wales, UK</h3>
          <div class="koSeparator" style="background: var(--color1); width: 405px; height: 10px; margin: 15px 0;"></div>

          <div id="description-wrapper">
            {% include homepage/description.html %}
          </div>
          <div id="speakers-wrapper">
            {% include plenary.html %}
            {% include goedel.html %}
            {% include tutorials.html %}
            {% include special.html %}
          </div>
          <div id="dates-wrapper">
            {% include dates.html %}
          </div>
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 d-flex align-items-start">
        <img src="assets/swansea-img-banner5.png" class="w-auto" alt="Swansea banner">
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-7 mt-5" data-aos="fade-up">
      <h3 id="call-for-talks">Abstract Submission</h3>
      <div class="koSeparator koSeparatorBlock koSeparatorLeft"
        style="background:var(--color1); width: 200px; height: 5px; margin-top: 30px; margin-bottom: 30px;">
      </div>
      <div>
        <p>
          The programme committee invites proposals for contributed talks. These can be on published or unpublished work, as well as work in progress.
        </p>
        <p>
          More information and submission instructions can be found <a href="/cfp">here</a>.
        </p>
      </div>
      <div class="koButtons mt-4"><a class="btn btn-color1" href="#">Submission System TBA</a>
      </div>
    </div>
    <div class="col-4 mt-5 offset-1">
      <h3 id="call-for-talks">Programme Highlights</h3>
      <div class="koSeparator koSeparatorBlock koSeparatorLeft"
        style="background:var(--color1); width: 100px; height: 5px; margin-top: 30px; margin-bottom: 30px;">
      </div>
      <h5 id="speakers">Invited Speakers</h5>
      TBA
      <!-- <a href="#">Dr. Oliver Gray</a>
      (Example University)</br>
      <a href="#">Dr. Paula Rossi</a>
      (Example University)</br>
      <a href="#">Dr. Quinn Rivera</a>
      (Example University)</br>
      <a href="#">Dr. Rachel Kim</a>
      (Example Institute)</br> -->
      <h5>Special Sessions</h5>
      TBA
      <!-- <a href="#">Dr. Samuel Blake</a>
      (Example University)</br>
      <a href="#">Dr. Julia Collins</a>
      (Example University)</br>
      <a href="#">Dr. Michael Novak</a> (Example Ltd.)</br>
      <a href="#">Dr. Oliver Stone</a>
      (Example College)</br> -->
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <h3>Sponsors</h3>
      <div class="col-lg-12 col-sm-12">
        <div class="row align-items-center" style="text-align: center;">
          <div class="col-3 col-sm-3 col-md-3" data-aos="fade-up">
            <a href="https://www.swansea.ac.uk/" target="_blank"><img src="assets/swansea-uni.png" class="resize-sponsors" /></a>
          </div>
          <div class="col-3 col-sm-3 col-md-3" data-aos="fade-up">
            <a href="https://aslonline.org/" target="_blank"><img src="assets/asl-logo.png" class="resize-sponsors" /></a>
          </div>
          <div class="col-3 col-sm-3 col-md-3" data-aos="fade-up">
            <a href="https://www.blc-logic.org/" target="_blank"><img src="assets/blc-logo.png" class="resize-sponsors" /></a>
          </div>
          <div class="col-3 col-sm-3 col-md-3" data-aos="fade-up">
            <a href="https://www.swansea.ac.uk/science-and-engineering/research/zienkiewicz-institute-for-modelling-data-ai/" target="_blank"><img src="assets/zienkiewicz-institute.png" class="resize-sponsors" /></a>
          </div>
        </div>
      </div>

  </div>

</div>
