      <h3 id="call-for-talks">Abstract Submission</h3>
      <div class="koSeparator koSeparatorBlock koSeparatorLeft"
        style="background:var(--color1); width: 200px; height: 5px; margin-top: 30px; margin-bottom: 30px;">
      </div>
      <div>
        <p>
          The programme committee invites proposals for contributed talks. These can be on published or unpublished work, as well as work in progress.
        </p>
        <p>
          More information and submission instructions can be found <a href="/cfp">here</a>.
        </p>
              <!-- <div class="koButtons mt-4"><a class="btn btn-color1" href="#">Submission System TBA</a>
      </div> -->
      </div>