      <h3 id="call-for-talks">Abstract Submission</h3>
      <div class="koSeparator koSeparatorBlock koSeparatorLeft"
        style="background:var(--color1); width: 200px; height: 5px; margin-top: 30px; margin-bottom: 30px;">
      </div>
      <div>
        <p>
          The programme committee invites proposals for contributed talks on all aspects of mathematical logic, including pure and applied proof theory, computability theory, complexity theory, history of logic and computing, model theory, set theory, as well as interactions with theoretical computer science and related disciplines.
        </p>
        <p>
          More information and submission instructions can be found <a href="/cfp">here</a>.
        </p>
              <!-- <div class="koButtons mt-4"><a class="btn btn-color1" href="#">Submission System TBA</a>
      </div> -->
      </div>