<h3>Important dates</h3>
<p>
    <em>All dates midnight AoE</em>.
</p>
<p>
    <ul>
        <li><strong>2nd March</strong> Registration opens</li>
        <li><strong>1st April</strong> Deadline for student travel grant applications</li>
        <li><strong>1st April</strong> Deadline for contributed talks</li>
        <li><strong>10th April</strong> Notification of student travel grants</li>
        <li><strong>17th April</strong> Notification of accepted talks</li>
        <li><strong>24th April</strong> Deadline for early registration</li>
        <li><strong>24th May</strong> Deadline for registration</li>
        <li><strong>29th June&ndash;3rd July</strong> Logic Colloquium.</li>
    </ul>
</p>