<h4>Special Sessions</h4>
<strong>Session on Computability in Analysis</strong>
<p>
    Organisers: Daniel Graça (Faro) and Arno Pauly (Swansea)<br/>
    Speakers: Manon Blanc (Copenhagen), Holger Thies (Kyoto), Matea Čelar (Zagreb, tbc).
</p>
<strong>Session on Pure and Applied Proof Theory</strong>
<p>
    Organisers: Raheleh Jalali (Bath) and Andrei Sipos (Bucharest)<br/>
    Speakers: Pavel Pudlak (Prague), Lev Beklemishev (St. Petersburg), Paulo Firmino (Lisbon).
</p>
<strong>Session on History of Logic and Computing</strong>
<p>
    Organisers: Troy Astarte (Swansea) and John Tucker (Swansea)
</p>
<strong>Session on Model Theory</strong>
<p>
    Organisers: Pantelis Eleftheriou (Leeds) and Frank Wagner (Lyon) <br/>
    Speakers: Anna de Mase (Konstanz), Mark Kamsma (University), Stefan Ludwig (Freiburg).
</p>
<strong>Session on Set Theory</strong>
<p>
    Organisers: Boban Velickovic (Paris) and Matteo Viale (Turin)<br/>
    Speakers: Alejandro Poveda (Barcelona), Sumun Iyer (Pittsburgh), Borisa Kuzeljevic (Univ Novi Sad).
</p>
<strong>Session on Type Theory</strong>
<p>
    Organisers: Fredrick Nordvall Forsberg (Strathclyde) and Nicolai Kraus (Nottingham)<br/>
    Speakers: Martin Escardo (Birmingham), Zhixuan Yang (Exeter), Loïc Pujet (Strasbourg).
</p>
