<h3>Special Sessions</h3>
<h4>Session on Computability in Analysis</h4>
<p>
    Organisers: Daniel Graça (Faro) and Arno Pauly (Swansea)
</p>
<h4>Session on Pure and Applied Proof Theory</h4>
<p>
    Organisers: Raheleh Jalali (Bath) and Andrei Sipos (Bucharest)
</p>
<h4>Session on History of Logic and Computing</h4>
<p>
    Organisers: Troy Astarte (Swansea) and John Tucker (Swansea)
</p>
<h4>Session on Model Theory</h4>
<p>
    Organisers: Pantelis Eleftheriou (Leeds) and Frank Wagner (Lyon) 
</p>
<h4>Session on Set Theory</h4>
<p>
    Organisers: Boban Velickovic (Paris) and Matteo Viale (Turin)
</p>
<h4>Session on Type Theory</h4>
<p>
    Organisers: Fredrick Nordvall Forsberg (Strathclyde) and Nicolai Kraus (Nottingham)
</p>