<h4>Special Sessions</h4>
<strong>Session on Computability in Analysis</strong>
<p>
    Organisers: Daniel Graça (Faro) and Arno Pauly (Swansea)
</p>
<strong>Session on Pure and Applied Proof Theory</strong>
<p>
    Organisers: Raheleh Jalali (Bath) and Andrei Sipos (Bucharest)
</p>
<strong>Session on History of Logic and Computing</strong>
<p>
    Organisers: Troy Astarte (Swansea) and John Tucker (Swansea)
</p>
<strong>Session on Model Theory</strong>
<p>
    Organisers: Pantelis Eleftheriou (Leeds) and Frank Wagner (Lyon) 
</p>
<strong>Session on Set Theory</strong>
<p>
    Organisers: Boban Velickovic (Paris) and Matteo Viale (Turin)
</p>
<strong>Session on Type Theory</strong>
<p>
    Organisers: Fredrick Nordvall Forsberg (Strathclyde) and Nicolai Kraus (Nottingham)
</p>