  <div class="container">
    <div style="width:100%;background-color:#9ee6b1;padding:10px;border-radius:10px;border:1px solid #80bd90;">
      <p><strong>Registration Alert:</strong> Early Bird registration has been extended until 4th May. <a href = "/registration">Register now</a> for cheaper fees!</p>
      <p><strong>Scam Alert:</strong> We have been made aware of fraudulent messages being circulated to participants of this conference. Please only use the official channel for registration and do not reply to unsolicited emails. In case of doubt, please get in touch with the organising committee. </p>
  </div>
