footer {
	margin-top: 25px;
	margin-bottom: 25px
}

:root {
	--kedit-fsx: 1;
	--ui-color-accent: rgba(0, 154, 246, 1);
	--ui-color-accent-light: rgba(0, 154, 246, 0.1);
	--ui-color-leftmenu: rgba(40, 45, 55, 1);
	--ui-color-leftsubmenu: #f5f6f7;
	--ui-color-stripes-accent: repeating-linear-gradient(-45deg, #1A6AC9, #2B91E3 20px, #1A6AC9 20px, #1A6AC9 50px, #2B91E3 50px, #2B91E3 65px);
	--smoothGradient: hsla(0, 0%, 0%, 0) 0, hsla(0, 0%, 0%, 0.013) 8.1%, hsla(0, 0%, 0%, 0.049) 15.5%, hsla(0, 0%, 0%, 0.104) 22.5%, hsla(0, 0%, 0%, 0.175) 29%, hsla(0, 0%, 0%, 0.259) 35.3%, hsla(0, 0%, 0%, 0.352) 41.2%, hsla(0, 0%, 0%, 0.45) 47.1%, hsla(0, 0%, 0%, 0.55) 52.9%, hsla(0, 0%, 0%, 0.648) 58.8%, hsla(0, 0%, 0%, 0.741) 64.7%, hsla(0, 0%, 0%, 0.825) 71%, hsla(0, 0%, 0%, 0.896) 77.5%, hsla(0, 0%, 0%, 0.951) 84.5%, hsla(0, 0%, 0%, 0.987) 91.9%, hsl(0, 0%, 0%) 100%;
	--smoothGradient_blackBottom: linear-gradient(to bottom, var(--smoothGradient))
}

html {
	scroll-behavior: smooth !important
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	text-rendering: optimizelegibility
}

:root {
	--red: #dc3545
}

.text-right {
	text-align: right !important
}

.pl-0 {
	padding-left: 0 !important
}

.pl-1 {
	padding-left: .25rem !important
}

.pl-2 {
	padding-left: .5rem !important
}

.pl-3 {
	padding-left: 1rem !important
}

.pl-4 {
	padding-left: 1.5rem !important
}

.pl-5 {
	padding-left: 3rem !important
}

.col,
[class*=col-] {
	position: relative
}

@media (min-width:576px) {

	#website .container,
	.container-sm {
		max-width: 540px
	}
}

@media (min-width:768px) {

	#website .container,
	.container-md,
	.container-sm {
		max-width: 720px
	}
}

@media (min-width:992px) {

	#website .container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 960px
	}
}

@media (min-width:1200px) {

	#website .container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 1140px
	}
}

@media (min-width:1444px) {

	#website .container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 1320px
	}
}

@media (min-width:768px) {
	.text-md-right {
		text-align: right !important
	}

	.text-md-center {
		text-align: center !important
	}

	.pl-md-5 {
		padding-left: 3rem !important
	}

	.col-md-6 {
		max-width: 50%
	}
}

@media (min-width:992px) {
	.pl-lg-4 {
		padding-left: 1.5rem !important
	}

	.pl-lg-5 {
		padding-left: 3rem !important
	}

	.text-lg-right {
		text-align: right !important
	}

	.text-lg-center {
		text-align: center !important
	}
}

#website {
	font-size: 1.1rem
}

.fade {
	transition: opacity .15s;
	opacity: 0
}

.fade.in {
	opacity: 1
}

#contentArea a.btn-link,
#contentArea a:not(.btn):not(.page-link):not(.list-group-item) {
	text-decoration: underline
}

.nav a {
	text-decoration: none
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124
	}
}

.btn {
	text-shadow: none
}

h2 img#WebsiteLogo {
	margin-right: 10px;
	height: 100%
}

@media (min-width:767px) {
	div.kedit {
		padding: 50px
	}

	div.kedit .kedit {
		padding: 25px
	}
}

.kedit {
	width: 100%
}

.kedit>.container {
	position: relative;
	z-index: 3;
	width: 100%;
	align-self: start
}

@media (max-width:767px) {
	div.kedit {
		padding: 20px
	}

	div.kedit .kedit {
		padding: 10px
	}
}

@supports (-webkit-touch-callout:none) {
	.parallax-window {
		background-attachment: scroll !important
	}
}

#contentArea {
	min-height: 75vh
}

.koButtons {
	margin: 20px 0 10px;
	clear: both
}

.bs-1 {
	box-shadow: 0 15px 25px -15px rgba(0, 0, 0, .4)
}

.bs-2,
.btn.bs-2 {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .2)
}

.bs-3,
.btn.bs-3 {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2), 2px 2px 5px rgba(0, 0, 0, .2), 1px 1px 3px rgba(0, 0, 0, .2), 1px 1px 2px rgba(0, 0, 0, .2), 1px 1px 1px rgba(0, 0, 0, .5)
}

.bs-4 {
	box-shadow: 5px 15px 50px 0 rgba(0, 0, 0, .1)
}

#website {
	letter-spacing: -.02em
}

#website h1,
#website h2,
#website h3,
#website h4,
#website h5,
#website h6 {
	letter-spacing: -.03em;
	font-weight: 700
}

#contentArea {
	color: rgba(0, 0, 0, .7)
}

#contentArea h1,
#contentArea h2,
#contentArea h3,
#contentArea h4 {
	color: #000
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 10px;
	margin-bottom: 10px
}

.kedit {
	position: relative
}

#website img {
	display: inline-block;
	height: auto;
	max-width: 100%;
	flex: none
}

.btn-twitter:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f099";
	margin-right: 7%
}

.btn-google:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f0d5";
	margin-right: 7%
}

.btn-twitter,
.btn-twitter:hover {
	background: #55acee;
	color: #fff !important;
	text-decoration: none;
	margin-bottom: 5px
}

.btn-twitter:hover {
	background: #0084b4
}

.btn-google,
.btn-google:hover {
	background: #e53935;
	color: #fff !important;
	text-decoration: none;
	margin-bottom: 5px
}

.btn-google:hover {
	background: #c9322e
}

.h-100 {
	height: 100%
}

#website {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.koButtons .btn:not(.btn-link) {
	min-width: 160px;
	padding-left: 25px;
	padding-right: 25px
}

h2 a {
	text-decoration: none !important
}

.kedit.keditFullHeight {
	min-height: 100vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	background: var(--color2_25)
}

.kedit.keditFullHeight>.container {
	align-self: center
}

[data-balloon] {
	position: relative
}

[data-balloon]::before {
	opacity: 0;
	pointer-events: none;
	transition: all .18s ease-out;
	background: rgba(17, 17, 17, .9);
	border-radius: 4px;
	color: #fff;
	text-shadow: none;
	text-align: center;
	content: attr(data-balloon);
	font-size: 13px;
	padding: 10px 15px;
	line-height: 1;
	position: absolute;
	white-space: nowrap;
	pointer-events: none;
	z-index: 10;
	background: linear-gradient(to bottom, #131313 0, #545454 100%);
	color: #ccc;
	text-shadow: 1px 0 1px #000;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	font-weight: 400
}

[data-balloon]::after {
	background: no-repeat url(data:image/svg+xml;utf8,SVG_REPLACED);
	background-size: 100% auto;
	width: 18px;
	height: 6px;
	opacity: 0;
	pointer-events: none;
	transition: all .18s ease-out;
	content: '';
	position: absolute;
	z-index: 10
}

[data-balloon-pos=down][data-balloon]::after,
[data-balloon-pos=downleft][data-balloon]::after,
[data-balloon-pos=downright][data-balloon]::after {
	background: no-repeat url(data:image/svg+xml;utf8,SVG_REPLACED)
}

[data-balloon]:hover::after,
[data-balloon]:hover::before,
[data-balloon][data-balloon-visible]:after,
[data-balloon][data-balloon-visible]:before {
	opacity: 1;
	pointer-events: none
}

[data-balloon][data-balloon-pos=up]::before {
	bottom: 100%;
	left: 50%;
	margin-bottom: 11px;
	transform: translate3d(-50%, 10px, 0);
	transform-origin: top
}

[data-balloon][data-balloon-pos=up]::after {
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	transform: translate3d(-50%, 10px, 0);
	transform-origin: top
}

[data-balloon][data-balloon-pos=up]:hover::before {
	transform: translate3d(-50%, 0, 0)
}

[data-balloon][data-balloon-pos=up]:hover::after {
	transform: translate3d(-50%, 0, 0)
}

[data-balloon][data-balloon-pos=upright]::before {
	margin-left: 0;
	left: 0;
	margin-bottom: 14px;
	bottom: 100%
}

[data-balloon][data-balloon-pos=upright]::after {
	bottom: 100%;
	right: 50%;
	margin-bottom: 8px;
	transform: translate3d(50%, 0, 0)
}

[data-balloon][data-balloon-pos=upright]:hover::before,
[data-balloon][data-balloon-visible][data-balloon-pos=upright]::before {
	margin-bottom: 11px
}

[data-balloon][data-balloon-pos=upright]:hover::after,
[data-balloon][data-balloon-visible][data-balloon-pos=upright]::after {
	margin-bottom: 5px
}

[data-balloon][data-balloon-pos=upleft]::before {
	margin-right: 0;
	right: 0;
	margin-bottom: 14px;
	bottom: 100%;
	right: 0
}

[data-balloon][data-balloon-pos=upleft]::after {
	bottom: 100%;
	left: 50%;
	margin-bottom: 8px;
	transform: translate3d(-50%, 0, 0)
}

[data-balloon][data-balloon-pos=upleft]:hover::before {
	margin-bottom: 11px
}

[data-balloon][data-balloon-pos=upleft]:hover::after {
	margin-bottom: 5px
}

[data-balloon][data-balloon-pos=left]::before {
	margin-right: 11px;
	right: 100%;
	top: 50%;
	transform: translate3d(10px, -50%, 0)
}

[data-balloon][data-balloon-pos=left]::after {
	background: no-repeat url(data:image/svg+xml;utf8,SVG_REPLACED);
	background-size: 100% auto;
	width: 6px;
	height: 18px;
	margin-right: 5px;
	right: 100%;
	top: 50%;
	transform: translate3d(10px, -50%, 0)
}

[data-balloon][data-balloon-pos=left]:hover::before {
	transform: translate3d(0, -50%, 0)
}

[data-balloon][data-balloon-pos=left]:hover::after {
	transform: translate3d(0, -50%, 0)
}

[data-balloon][data-balloon-length=large]::before {
	white-space: normal;
	width: 260px
}

@-webkit-keyframes koLoadingRotation {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes koLoadingRotation {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.koSeparator {
	min-height: 1px;
	height: 5px;
	width: 50%;
	max-width: 100%;
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: .1px;
	margin-left: auto;
	margin-right: auto
}

.koSeparator.koSeparatorLeft {
	margin-left: 0;
	margin-right: auto
}

.text-color1_25 {
	color: var(--color1_25)
}

.text-color1_50 {
	color: var(--color1_50)
}

.text-color1_75 {
	color: var(--color1_75)
}

.text-color1 {
	color: var(--color1)
}

.text-color1_125 {
	color: var(--color1_125)
}

.text-color1_150 {
	color: var(--color1_150)
}

.text-color1_175 {
	color: var(--color1_175)
}

.text-color2_25 {
	color: var(--color2_25)
}

.text-color2_50 {
	color: var(--color2_50)
}

.text-color2_75 {
	color: var(--color2_75)
}

.text-color2 {
	color: var(--color2)
}

.text-color2_125 {
	color: var(--color2_125)
}

.text-color2_150 {
	color: var(--color2_150)
}

.text-color2_175 {
	color: var(--color2_175)
}

.image-container {
	position: relative
}

.kedit::selection {
	background: #34495e
}

.btn-color1 {
	color: var(--color1_bw);
	background-color: var(--color1);
	border-color: var(--color1)
}

.btn-color1.active,
.btn-color1:active,
.btn-color1:focus,
.btn-color1:hover {
	color: #fff;
	background-color: var(--color1_175);
	border-color: var(--color1_175)
}

.btn-color1.active,
.btn-color1:active {
	background-image: none
}

.btn-color1[disabled],
.btn-color1[disabled].active,
.btn-color1[disabled]:active,
.btn-color1[disabled]:focus,
.btn-color1[disabled]:hover {
	background-color: var(--color1);
	border-color: var(--color1)
}

.btn-color2 {
	color: var(--color2_bw);
	background-color: var(--color2);
	border-color: var(--color2)
}

.btn-color2.active,
.btn-color2:active,
.btn-color2:focus,
.btn-color2:hover {
	color: var(--color2_bw);
	background-color: var(--color2_125);
	border-color: var(--color2_125)
}

.btn-color2.active,
.btn-color2:active {
	background-image: none
}

.btn-color2[disabled],
.btn-color2[disabled].active,
.btn-color2[disabled]:active,
.btn-color2[disabled]:focus,
.btn-color2[disabled]:hover {
	background-color: var(--color2);
	border-color: var(--color2)
}

#website .img-in-content {
	max-width: 20vw;
	position: relative;
	z-index: 2
}

@-webkit-keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		transform: scale(1.2);
		opacity: 0
	}
}

@keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		transform: scale(1.2);
		opacity: 0
	}
}

@-moz-keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		transform: scale(1.2);
		opacity: 0
	}
}

@-o-keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		transform: scale(1.2);
		opacity: 0
	}
}

@-ms-keyframes pulsate {

	0%,
	100% {
		opacity: 0
	}

	0% {
		transform: scale(.1)
	}

	50% {
		opacity: 1
	}

	100% {
		transform: scale(1.2)
	}
}

[class$="Block_mockup "]>div,
[class$=Block_mockup]>div {
	background: #dfe1e5;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #d3d4d6, -1px -1px 20px -5px rgba(0, 0, 0, .2), -1px -1px 50px -15px rgba(0, 0, 0, .2);
	overflow: hidden;
	display: inline-block;
	max-width: 90vw;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #3d4043;
	position: relative;
	text-align: left
}

[class$=Block_mockupHead] {
	display: flex;
	height: 41px
}

[class$=Block_mockupHead]>span {
	height: 13px;
	width: 13px;
	border-radius: 13px;
	display: inline-block;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
	margin-top: calc(13px * 1.1);
	margin-right: calc(13px / 2)
}

[class$=Block_mockupHead]>span:first-child {
	margin-left: calc(13px / 1.1);
	background: #ff7870
}

[class$=Block_mockupHead]>span:nth-child(2) {
	background: #ffd272
}

[class$=Block_mockupHead]>span:nth-child(3) {
	background: #64c455;
	margin-right: 13px
}

[class$=Block_mockupTab] {
	margin-top: calc(13px / 3);
	display: flex;
	align-items: center
}

[class$=Block_mockupTab]>div {
	background: #fff;
	border-radius: 8px 8px 0 0;
	line-height: calc(13px * 2.65);
	display: inline-block;
	padding: 0 10px;
	display: flex;
	align-items: center;
	margin-top: auto;
	position: relative
}

[class*=Block_mockupTabEnd],
[class*=Block_mockupTabStart] {
	position: absolute;
	height: 8px;
	width: 8px;
	overflow: hidden;
	bottom: 0
}

[class*=Block_mockupTabStart] {
	left: -8px
}

[class*=Block_mockupTabEnd] {
	right: -8px
}

[class*=Block_mockupTabEnd]::before,
[class*=Block_mockupTabStart]::before {
	content: '';
	position: absolute;
	right: 0;
	height: 200%;
	width: 200%;
	border-radius: 100%;
	box-shadow: 8px 8px 5px 100px #fff
}

[class*=Block_mockupTabStart]::before {
	top: -100%
}

[class*=Block_mockupTabEnd]::before {
	top: -100%;
	right: -100%
}

[class*=Block_mockupContent] {
	border-top: 1px solid #d9dbdf;
	background: #fff
}

[class*=Block_mockupContent] img {
	max-width: 100%;
	display: block;
	border-radius: 0 0 5px 5px;
	min-width: 100%
}

[class*=Block_mockupTabTitle] {
	padding: 0 8px;
	min-width: 100px;
	font-size: 12px
}

[class*=Block_mockupBar] {
	margin-top: 0;
	background: #fff;
	line-height: 26px;
	display: flex;
	align-items: center;
	padding: 4px 10px
}

[class*=Block_mockupBar]>div {
	background: #f1f3f4;
	line-height: 28px;
	height: 28px;
	padding: 0 8px;
	margin-left: 12px;
	border-radius: 30px;
	flex-grow: 1;
	color: #202124;
	align-items: center;
	display: flex
}

[class*=Block_mockupBar]>div>div {
	padding: 0 8px
}

@-webkit-keyframes koShine {
	100% {
		left: 125%
	}
}

@keyframes koShine {
	100% {
		left: 125%
	}
}

.h1,
h1 {
	font-size: calc(2.5rem * var(--kedit-fsx))
}

@media (max-width:1200px) {

	.h1,
	h1 {
		--d-fs: calc(1.375rem + 1.5vw);
		font-size: calc(var(--d-fs) * var(--kedit-fsx))
	}
}

.h2,
h2 {
	font-size: calc(2rem * var(--kedit-fsx))
}

@media (max-width:1200px) {

	.h2,
	h2 {
		--d-fs: calc(1.325rem + 0.9vw);
		font-size: calc(var(--d-fs) * var(--kedit-fsx))
	}
}

.h3,
h3 {
	font-size: calc(1.75rem * var(--kedit-fsx))
}

@media (max-width:1200px) {

	.h3,
	h3 {
		--d-fs: calc(1.3rem + 0.6vw);
		font-size: calc(var(--d-fs) * var(--kedit-fsx))
	}
}

.h4,
h4 {
	font-size: calc(1.5rem * var(--kedit-fsx))
}

@media (max-width:1200px) {

	.h4,
	h4 {
		--d-fs: calc(1.275rem + 0.3vw);
		font-size: calc(var(--d-fs) * var(--kedit-fsx))
	}
}

.h5,
h5 {
	font-size: calc(1.25rem * var(--kedit-fsx))
}

.h6,
h6 {
	font-size: calc(1rem * var(--kedit-fsx))
}

.display-1 {
	font-size: calc(6rem * var(--kedit-fsx));
	font-weight: 300;
	line-height: 1.2
}

h2.display-1 {
	font-size: calc(5.5rem * var(--kedit-fsx))
}

h3.display-1 {
	font-size: calc(5.2rem * var(--kedit-fsx))
}

h4.display-1 {
	font-size: calc(4.8rem * var(--kedit-fsx))
}

h5.display-1 {
	font-size: calc(4.5rem * var(--kedit-fsx))
}

h6.display-1 {
	font-size: calc(4.2rem * var(--kedit-fsx))
}

@media (max-width:1200px) {
	.display-1 {
		--d-fs: calc(1.725rem + 5.7vw);
		font-size: calc(var(--d-fs) * var(--kedit-fsx))
	}
}

.display-2 {
	font-size: calc(5.5rem * var(--kedit-fsx));
	font-weight: 300;
	line-height: 1.2
}

h2.display-2 {
	font-size: calc(5.2rem * var(--kedit-fsx))
}

h3.display-2 {
	font-size: calc(5rem * var(--kedit-fsx))
}

h4.display-2 {
	font-size: calc(4.8rem * var(--kedit-fsx))
}

h5.display-2 {
	font-size: calc(4.3rem * var(--kedit-fsx))
}

h6.display-2 {
	font-size: calc(4rem * var(--kedit-fsx))
}

@media (max-width:1200px) {
	.display-2 {
		--d-fs: calc(1.675rem + 5.1vw);
		font-size: calc(var(--d-fs) * var(--kedit-fsx))
	}
}

.display-3 {
	font-size: calc(4.5rem * var(--kedit-fsx));
	font-weight: 300;
	line-height: 1.2
}

h2.display-3 {
	font-size: calc(4.2rem * var(--kedit-fsx))
}

h3.display-3 {
	font-size: calc(4rem * var(--kedit-fsx))
}

h4.display-3 {
	font-size: calc(3.8rem * var(--kedit-fsx))
}

h5.display-3 {
	font-size: calc(3.3rem * var(--kedit-fsx))
}

h6.display-3 {
	font-size: calc(3rem * var(--kedit-fsx))
}

@media (max-width:1200px) {
	.display-3 {
		--d-fs: calc(1.575rem + 3.9vw);
		font-size: calc(var(--d-fs) * var(--kedit-fsx))
	}
}

.display-4 {
	font-size: calc(3.5rem * var(--kedit-fsx));
	font-weight: 300;
	line-height: 1.2
}

h2.display-4 {
	font-size: calc(3.2rem * var(--kedit-fsx))
}

h3.display-4 {
	font-size: calc(3rem * var(--kedit-fsx))
}

h4.display-4 {
	font-size: calc(2.8rem * var(--kedit-fsx))
}

h5.display-4 {
	font-size: calc(2.3rem * var(--kedit-fsx))
}

h6.display-4 {
	font-size: calc(2rem * var(--kedit-fsx))
}

@media (max-width:1200px) {
	.display-4 {
		--d-fs: calc(1.475rem + 2.7vw);
		font-size: calc(var(--d-fs) * var(--kedit-fsx))
	}
}

.koButtons.d-flex {
	flex-wrap: wrap
}

.koButtons.d-flex.text-center {
	justify-content: center
}

.koButtons.d-flex.text-right {
	justify-content: end
}

.koButtons.d-flex .btn {
	margin: 0 5px 5px 0;
	align-self: center
}

[rel=isHidden] {
	display: none !important;
	visibility: hidden
}

:root {
	--ui-color-accent: #834b9d;
	--ui-color-accent-75: rgba(131, 75, 157, 0.7);
	--ui-color-accent-50: rgba(131, 75, 157, 0.5);
	--ui-color-accent-25: rgba(131, 75, 157, 0.25);
	--ui-color-accent-light: rgba(131, 75, 157, 0.1);
	--ui-color-stripes-accent: repeating-linear-gradient(-45deg, #470f61, #834b9d 20px, #470f61 20px, #470f61 50px, #834b9d 50px, #834b9d 65px);
	--ui-color-leftmenu: #333944
}

:root {
	--color1: #01679a;
	--color2: #FFCD03;
	--font1: Montserrat;
	--font2: Raleway;
	--font3: Helvetica Neue, sans-serif;
	--color1_rgb: 0, 84, 149;
	--color1_hsl: 28, 100%, 63%;
	--color1_hs: 28, 100%;
	--color1_h: 28;
	--color1_s: 100%;
	--color1_l: 63%;
	--color1_25: #cce4f1;
	--color1_50: #99c9e3;
	--color1_75: #66add5;
	--color1_125: #01527a;
	--color1_150: #013f5d;
	--color1_175: #012c40;
	--color2_rgb: 255, 205, 3;
	--color2_hsl: 108, 22%, 87%;
	--color2_hs: 108, 22%;
	--color2_h: 108;
	--color2_s: 22%;
	--color2_l: 87%;
	--color2_25: #f6f9f5;
	--color2_50: #ecf2eb;
	--color2_75: #e3ece0;
	--color2_125: #a3aca1;
	--color2_150: #6d736b;
	--color2_175: #363936;
	--color1_bw: rgba(255, 255, 255, 0.8);
	--color1_25_bw: rgba(0, 0, 0, 0.8);
	--color1_50_bw: rgba(0, 0, 0, 0.8);
	--color1_75_bw: rgba(0, 0, 0, 0.8);
	--color1_125_bw: rgba(255, 255, 255, 0.8);
	--color1_150_bw: rgba(255, 255, 255, 0.8);
	--color1_175_bw: rgba(255, 255, 255, 0.8);
	--color2_bw: rgba(0, 0, 0, 0.8);
	--color2_25_bw: rgba(0, 0, 0, 0.8);
	--color2_50_bw: rgba(0, 0, 0, 0.8);
	--color2_75_bw: rgba(0, 0, 0, 0.8);
	--color2_125_bw: rgba(255, 255, 255, 0.8);
	--color2_150_bw: rgba(255, 255, 255, 0.8);
	--color2_175_bw: rgba(255, 255, 255, 0.8)
}

#contentArea a.btn-link,
#contentArea a:not(.btn) {
	color: var(--color1)
}

#contentArea a:not(.btn):hover {
	color: var(--color1_175)
}

#contentArea h1,
#contentArea h1 a,
#contentArea h2,
#contentArea h2 a,
#contentArea h3,
#contentArea h3 a {
	color: #000
}

#contentArea h4,
#contentArea h4 a,
#contentArea h5,
#contentArea h5 a,
#contentArea h6,
#contentArea h6 a {
	color: #000
}

body {
	visibility: visible !important;
	overflow: auto !important
}

body {
	overflow: hidden
}

body.body {
	visibility: visible;
	overflow: auto
}

@-webkit-keyframes koLoadingRotation {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes koLoadingRotation {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
		stroke: var(--color1)
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
		stroke: var(--color2)
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
		stroke: var(--color1)
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
		stroke: var(--color1)
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
		stroke: var(--color2)
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
		stroke: var(--color1)
	}
}

h5 {
	margin-top: 20px
}

.resize-sponsors {
	max-height: 125px
}

@media screen and (max-width:768px) {
	#navbarLinks {
		font-size: 15px
	}
}

.navbar-links-light {
	--bs-navbar-color: rgba(255, 255, 255, 0.75);
	--bs-navbar-hover-color: rgba(255, 255, 255, 1)
}

@font-face {
	font-family: 'Cosmos Light';
	font-style: normal;
	font-weight: 400;
	src: local("Cosmos Light"), url(https://logiccolloquium2026.github.io/assets/cosmos-font/Cosmos-Light.woff) format("woff")
}

@font-face {
	font-family: 'Cosmos Light Italic';
	font-style: normal;
	font-weight: 400;
	src: local("Cosmos Light Italic"), url(https://logiccolloquium2026.github.io/assets/cosmos-font/Cosmos-LightIt.woff) format("woff")
}

@font-face {
	font-family: 'Cosmos Medium';
	font-style: normal;
	font-weight: 400;
	src: local("Cosmos Medium"), url(https://logiccolloquium2026.github.io/assets/cosmos-font/Cosmos-Medium.woff) format("woff")
}

h1 {
	font-family: 'Cosmos Medium'
}

h2,
h3,
h4,
h5,
h6,
.navbar-brand {
	font-family: 'Cosmos Light'
}